@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  background-image: url('https://besthqwallpapers.com/Uploads/18-4-2019/88140/beer-texture-4k-drinks-texture-beer-with-foam-texture-beer-foam.jpg');
  background-size: 2000px 1000px;
  font-family: 'Anton', sans-serif;
}

h1 {
  padding: 10px;
  color: white;
  display: flex;
  background-color: rgb(5, 73, 129);
  background-size: auto;
}

span {
  color: rgba(253, 207, 2, 0.938);
}
